.seseTitle{
    font-size: 3rem;
    font-family: "方正舒体";
    padding: 0;
    margin: 0;
    text-align: center;
    /*background:linear-gradient(90deg, #2CD8D5, #72047a, #03a9f4,#ef319b,#C5C1FF, #FFBAC3,#562B7C, #2B86C5);*/
    background: linear-gradient(
            90deg,#03a9f4, #f441a5, #ffeb3b,
                    #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size:400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveColor 10s linear infinite alternate;
    text-shadow: 1px 1px 5px #4b4b4b;
    /*z-index: 1;*/
}


@keyframes moveColor {
    0%{
        background-position: 0%; /*修改背景定位，实现渐变色炫光*/
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}
@font-face {
    font-family: "famtterna";
    src: url("../font/Famtterna.ttf");
}

.seseP{
    font-size: 3rem;
    font-weight: bold;
    font-family: "famtterna";
    padding: 0;
    margin: 0;
    background-image: linear-gradient(90deg, #f3de28, #03a9f4,#ef319b,#03a9f4);
    background-size:500%;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveColor 10s linear infinite alternate;
    text-shadow: 1px 1px 5px #4b4b4b;

}